[*.cs]
dotnet_diagnostic.SA1649.severity = suggestion
dotnet_diagnostic.SA1616.severity = suggestion
dotnet_diagnostic.CS1591.severity = suggestion
dotnet_diagnostic.SA1606.severity = suggestion
dotnet_diagnostic.SA1614.severity = suggestion
dotnet_diagnostic.SA1607.severity = suggestion
dotnet_diagnostic.SA1108.severity = suggestion