Philip Rosenhagen <phro@itu.dk> Philip Rosenhagen <phro@itu.dk>
Philip Rosenhagen <phro@itu.dk> Philip Rosenhagen <philiprosenhagen@gmail.com>
Philip Rosenhagen <phro@itu.dk> Philip Rosenhagen <72072928+21Philip@users.noreply.github.com>
Johan Ingeholm <jing@itu.dk> Johan Ingeholm <jing@itu.dk> 
Johan Ingeholm <jing@itu.dk> JIngeholm <jing@itu.dk>
Johan Ingeholm <jing@itu.dk> jing <jing@itu.dk>
Johan Ingeholm <jing@itu.dk> Johan Ingeholm <151632146+JIngeholm@users.noreply.github.com>
Marcus Frandsen <megf@itu.dk> Marcus Frandsen <megf@itu.dk>
Marcus Frandsen <megf@itu.dk> Marcus Egede Frandsen <megf@itu.dk>
Cecilie Elkjær <ceel@itu.dk> Cecilie Amalie Wall Elkjær <ceel@itu.dk>
Benjamin Ormstrup <beor@itu.dk> benjaminormstrup <151547859+benjaminormstrup@users.noreply.github.com>
