name: .NET Build and Test

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches: 
      - main
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
          
      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --no-restore -c Release

      - name: Tests (infrastructure only)
        run: |
          export Authentication_Github_ClientId="${{ secrets.GITHUBCLIENTID }}"
          export Authentication_Github_ClientSecret="${{ secrets.GITHUBCLIENTSECRET }}"
          dotnet test test/Chirp.Infrastructure.Test/Chirp.Infrastructure.Test.csproj --no-build -c Release --verbosity normal
